<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="4" >
  
    <test name="Windows 10 Test" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="86.0"/>
        <parameter name="platform" value="Windows 10"/>
        <classes>
            <class name="com.lambdatest.Testng1" />
        </classes>
    </test> <!-- Test -->
    <test name="MacOS Test" annotations="JDK"
		preserve-order="true">
        <parameter name="browser" value="MicrosoftEdge"/>
        <parameter name="version" value="87.0"/>
        <parameter name="platform" value="macOS Sierra"/>
        <classes>
            <class name="com.lambdatest.Testng1" />
        </classes>
    </test> <!-- Test -->
   
</suite> <!-- Suite -->
